@import url("https://use.typekit.net/wrw1ovl.css");

* {
    font-family: byker,sans-serif;
    font-style: normal;
    padding: 0;
    margin: 0;
}

.NavLink.active {
    color: #2CD6D4;
    border-bottom: 2px solid #2CD6D4;
}

/* Nav Styles */

.Nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2vh;
}

.Navlogo {
    height: 5vh;

    transition: transform 500ms ease;
}

.NavLinks {
    font-weight: 500;
    font-size: clamp(1.5rem, 3vw, 1.5rem);
}

.NavLink {
    padding: 1vw;
    text-decoration: none;
    color: #000000;

    transition: opacity 500ms ease, border-bottom 500ms ease;
}

.Navlogo:hover {
    transform: scale(1.05);
}

.NavLinks:hover > .NavLink {
    opacity: 0.3;
    border-bottom: 2px solid rgba(44, 214, 212, 0);
}

.NavLinks:hover > .NavLink:hover {
    opacity: 1;
    border-bottom: 2px solid #000000;
}

/* Home Styles */

.container {
    position: relative;
    margin: 0 auto;
    margin-top: 2vh;

    height: 100vh;
    width: 80vw;

    background-color: #F3F3F3;

    overflow: hidden;
}

.userarea-img {
    position: absolute;
    left: 0;
    margin-top: 2vh;
    height: 10vh;
    width: 5vw;
    background-color: #000000;
    border-radius: 25em;
}

.userarea-un {
    position: absolute;
    text-align: center;
    margin-top: 12vh;
    margin-left: 0.3vw;
}

.post-container {
    position: relative;
    margin: auto;
    top: 2vh;
    bottom: 1vh;

    height: 35vh;
    width: 75vw;
}

.postbox {
    position: absolute;
    right: 0;
    height: 15vh;
    width: 65vw;
    padding: 0.5em;

    font-size: clamp(1rem, 2vw, 1rem);
    font-weight: 300;

    border: 2px solid #000000;
    border-radius: 1em;
    background: none;
    resize: none;
}

.postbtn {
    position: absolute;
    right: 0;
    margin-top: 20vh;
    height: 5vh;
    width: 5vw;

    border-radius: 2em;
    border: 2px solid #000000;

    background: none;

    font-size: clamp(1.2rem, 2vw, 1.2rem);
    font-weight: 500;

    transition: background-color 500ms ease, transform 500ms ease;
}

.postbtn:hover {
    background-color: rgba(44, 214, 212, 0.5);
    transform: scale(1.05);
}

/* Trending Styles */

.trendNav {
    text-align: center;
}

.trendNavLinks {
    font-weight: 500;
    font-size: clamp(1.5rem, 3vw, 1.5rem);
}

.trendNavLink {
    padding: 1em;
    text-decoration: none;
    color: #000000;

    transition: opacity 500ms ease;
}

.trendNavLinks:hover > .trendNavLink {
    opacity: 0.3;
}

.trendNavLinks:hover > .trendNavLink:hover {
    opacity: 1;
}

.trendNavLink.active {
    color: #2CD6D4;
    border-bottom: 2px solid #000000; 
}

/* Message Styles */

.pagetitle {
    margin-top: 1vh;
    margin-left: 2vw;
    font-weight: 800;
    font-size: clamp(2rem, 4vw, 2rem);
}